@import "tailwindcss";

/* Cuando el usuario navegue entre páginas, esto hará un scroll-top automatico  */
html {
  scroll-padding-top: 64px; /* Match the height of your sticky header */
}

@theme {
  --color-pages: blue; /* TODO: cambiar por el color correspondiente */
  --color-header: white;
  --color-side-menu: oklch(96.9% 0.015 12.422);
  --color-division-line: #eaeaea;
  --color-side-menu-footer: #f3ecee;
}